.pontoTuristicoContainer{
  padding-left:50px;
  padding-right: 50px;
  /* width:100vw; */
}

.pontoTuristicoName{
}

.pontoTuristicoDescricao{

}

.areaButtons{
  margin-top:20px;
}
.deletarButton{
  margin-left:50px;
}
