.pontoTuristicoContainer{
  padding-left:50px;
  padding-right: 50px;
  width:500px;
}

.pontoTuristicoName{
  margin-bottom: 0;
}

.pontoTuristicoDescription{
  margin-bottom:0;
}

.pontoTuristicoAddres{
  margin-bottom: 0;
}

.pontoTuriscoCity{
  margin-bottom: 0;
}

.pontoTuristicoState{
  margin-bottom: 0;
}

.areaButtons{
  margin-top:20px;
}
.deletarButton{
  margin-left:50px;
}
