.header{
  display:flex;
  width:100vw;
  height:70px;
  background-color:#ff7f50;
}

.headerBody{
  display:flex;
  
}

.ul{
  list-style: none;
  display:flex;
}

li{
  margin-left: 15px;
}

li:hover{
  color:#00285f ;
}
