.homeContainer{
  width:100vw;
  height:auto;
  background-color: #054f77;
  display:flex;
  display: block;
  justify-content:center; 
}

button{
  border:1px solid;
  padding:8px 40px;
  cursor:pointer;
  background:transparente;
  font-weight:bold;
  border-radius:4px;
}

.buttonCadastrarPontoTuristico {
  height: 35px;
  margin-left: 10px;
}

.buttonCadastrarPontoTuristico a{
  text-decoration: none;
  color:#000;
}

.divInput{
  align-items: center;
  background-color: #054f77;
  display:flex;
  padding:20px 50px;
  justify-content: center;
 
}

.inputCamp{
  width:350px;
  height: 30px;
  border:solid 1px;
  border-radius: 5px;
  text-indent: 10px;
}
.searchButton{
  height: 35px;
  margin-left: 10px;
}

.pontoTuristicoList{
  display:flex;
  align-items: center;
  flex-direction: column;
  max-width: 860px;
  margin:0 auto;
  padding-bottom: 60px;
}
