.homeContainer{
  width:100vw;
  height:auto;
  background-color: #054f77;
  display:flex;
  display: block;
  justify-content:center; 
}

.homeUp{
  width:80%;
  height:150px;
  /* background-color: blueviolet; */
  display:flex;
  justify-content:center;
  padding-left: 50px;
}

button{
  border:1px solid;
  padding:8px 40px;
  cursor:pointer;
  background:transparente;
  font-weight:bold;
  border-radius:4px;
}


.buttonCadastrarPontoTuristico{
  margin-top:80px;
  margin-left: 50px;
}

.homeDown{
  width:80%;
  height:100px;
  background-color: #054f77;
  display:flex;
  justify-content: space-between;
  padding-left: 50px;
}

.divInput{
  display:flex;
  align-items: center;
  width:500px;
  height:50px;
  /* background-color: rgb(218, 49, 49); */
  padding-top: 50px;
}

.inputCamp{
  width:700px;
  height: 30px;
  border:solid 1px;
  border-radius: 5px;
  text-indent: 10px;
  margin-bottom: 20px;
}
.searchButton{
  height: 35px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.pontoTuristicoContiner{
  background-color: aliceblue;
  display:flex;
}

.pontoTuristicoSide{
  /* background-color: blueviolet; */
  /* border:1px; */

}